body
	margin: 0
	padding: 0
	font: 1.0625em/1.47 $body_font_stack
	line-height: 1.4em
	color: $body_text_color
	font-weight: 400
	-webkit-font-smoothing: antialiased

*
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box

.vh
	position: absolute
	height: 1px
	overflow: hidden

.testing
	position: absolute
	top: 0
	left: -9999em
	display: block !important

.inner
	margin: 0 auto
	max-width: 43rem
	padding: 0 20px


//Header
#skip2content
	display: block
	position: absolute
	top: -3em
	transition: top .5s
	-webkit-transition: top .25s
	padding: 4px 10px
	background-color: #f00
	color: #fff
	border: 2px solid #fff
	border-radius: 0 0 4px 4px
	&:focus
		top: 0

a
	text-decoration: none
	color: $link_text_hover

img
	width: 100%


header
	background-image: linear-gradient(#333, #666)
	height: 60px
	border-bottom: solid #222 1px
	box-shadow: 0 0 8px 3px rgba(0,35,94,0.4)
	h1
		font-size: 20px
		padding: 12px 20px 0 0
		margin: 0
	a
		padding: 5px 10px
		font-weight: bold
		text-shadow: rgba(0,0,0,.3) 0 1px 0
		border: 1px solid rgba(0,0,0,0)
		outline: none
		text-transform: uppercase
		font-size: 1rem
		&:hover, &:focus, &.active
			color: #111
			border-radius: 3px
			background-color: rgba(255,255,255,.6)
			border: 1px solid #000
			box-shadow: rgba(255,255,255,0.15) 0 1px 0px, inset rgba(0,0,0,0.17) 0 1px 1px
			text-shadow: rgba(255,255,255, 0.3) 0 1px 0
			outline: none

	h1, a, nav
		color: #fff
		display: inline-block
		vertical-align: middle
	nav
		padding: 14px 0 0
		font-family: $heading_font_stack

h1, h2, h3
	margin: 0
	color: $heading_color
	font-family: $heading_font_stack
h2
	padding: 2.5rem 0 1.5em
	font-size: 3.2rem
	line-height: 3.6rem
h3
	font-size: 2.2rem
	line-height: 2.5rem


.hidden
	display: none

table
	th, td
		text-align: left
		padding: 5px 10px
		border: 1px solid #ccc
	th
		background-color: #efefef
	td
		background-color: #fff




footer, main
	padding: 20px 0 0

blockquote
	background-color: $blockquote_bkgd_color
	border: 1px solid $blockquote_border_color
	border-width: 1px 0
	padding: 1rem 2rem
	margin: 0
	color: $blockquote_text_color

