.vh
	position: absolute
	height: 1px
	overflow: hidden



//Header
#skip2content
	display: block
	position: absolute
	top: -3em
	transition: top .5s
	-webkit-transition: top .25s
	padding: 4px 10px
	background-color: #f00
	color: #fff
	border: 2px solid #fff
	border-radius: 0 0 4px 4px
	&:focus
		top: 0