.modal
	position: fixed
.tooltip
	position: absolute
.modal, .tooltip
	background-color: #fff
	border: 1px solid #aaa
	border-radius: 4px
	padding: 20px
	z-index: 1
	box-shadow: 1px 1px 5px -1px #333

	h1
		margin: 0

#modal_overlay
	background-color: rgba(0,0,0,.3)
	top: 0
	bottom: 0
	left: 0
	right: 0
	width: 100%
	position: fixed

.dropdownmenu
	button 
		background-color: #fff
		border: 1px solid #333
		border-radius: 0
		padding: 20px 10px
	[data-drop-down-button]
		border-radius: 4px
		width: 300px
	[data-drop-down-button][aria-expanded="true"]
		background-color: #333
		color: #fff
	[data-drop-down-item].active
		background-color: #ccc
	[data-drop-down-item]
		clear: both
		display: block
		width: 100%
		border-top-width: 0
	[data-drop-down-menu]
		opacity: 0
		transition: opacity 1s
		display: none
		width: 290px
		margin: 0 0 0 5px
	[data-drop-down-menu][aria-hidden="false"]
		display: block
		opacity: 1

.dropdown-select
	margin: 2em 0 0 0
	font-size: 3em


.accordion
	button
		background-color: #fff
		border: 1px solid #333
		border-radius: 0
		padding: 20px 10px

	[data-content][aria-hidden="true"]
		diplay: none


