$body_background_color: #faf4f1
$body_font_stack: 'Helvetica Neue', Helvetica, Arial, Sans-Serif
$body_font_color: #444444

$header_background_image: '/img/navigation_background.png'


/* colors */

$primary_dark_text_color: #002e95