h1(data-page-title="Contact Us") This is the contact page!

h2 Have something to say? Let us know what you think!

form(method="", action="")
	.field
		label(for="name") Name
		input#name
	.field
		label(for="email") Email
		input#name
	.field
		label(for="topic") Topic
		select#topic
			option Topic 1
			option Topic 2
			option Topic 3
			option Topic 4
	.field
		label(for="message") Message
		textarea#message

	button(type="submit") Submit Your Comments
