<h2 data-page-title="Welcome">Welcome</h2>
<p>Welcome to the Modern A11y blog. This site is a "work in progress", so forgive the mess.</p>
<p>The purpose of this site is to share some of the modern accessibility techniques I talk about here and there. Feel free to peruse and to <a href="http://www.twitter.com/patrickfox">send me feedback @patrickfox</a>.</p>