header(role="banner")
	.inner
		a#skip2content(href="#main_content") Skip to main content
		#a11y_announcer.vh(aria-live="polite")
		h1 Modern A11y
		nav(role="navigation", aria-label="Site Nav")
			a(href="#/") Home
			a(href="#/blog") Blog
			a(href="#/contact") Contact
			a(href="#/about") About	
