doctype
html(lang="en")
	head
		include mixins
		block head
		include head

	body(ng-app="modern_a11y")
		.shell(data-isolate)
			include header
			main#main_content(role="main")
				.inner(ng-view="")
					block main

			include footer
		include scripts
		include modals