section.modal.hidden(data-modal-id='test_modal', role='dialog')
      h1(data-modal-label='') Oh hi!
      p This modal is accessible.
      button(type='button', data-closes-modal) Close and return to article

section#test_tooltip.tooltip.hidden(data-tooltip-id='test_tooltip')
      p This tooltip is accessible.