include mixins
.articles
	each val in locals
		unless val.draft
			article
				+pubdate(val.pubdate)
				a.title(href="#/blog/#{val.filename}.html") #{val.title}
				span.author.pfox by Patrick Fox
				.summary This is a summary of the article/post.
				a.readmore(href="#/blog/#" aria-label="Read full post for #{val.title}") Read More

