include mixins
.articles
	+sort_articles(locals)
	each val in locals
		unless val.draft
			article
				+pubdate(val)
				a.title(href="#/blog/#{val.filename}.html") #{val.title}
				span.author.pfox by #{val.author}
				+summary(val)
				a.readmore(href="#/blog/#" aria-label="Read full post for #{val.title}") Read More

